/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 270px;
  outline: none;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #EE6C0E;
  border-radius: 3px;
  cursor: pointer;
  height: 16px;
  width: 8px;
  pointer-events: all;
  position: relative;
  z-index: 1;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #EE6C0E;
  border-radius: 3px;
  cursor: pointer;
  height: 16px;
  width: 8px;
  pointer-events: all;
  position: relative;
  z-index: 1;
}
