@use "../styles/index.scss";
@use "../styles/virtual-tour";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1461px) {
  .container {
    max-width: 1400px;
  }
}

.react-dropzone-active {
  @apply border-blue-500 bg-blue-50;
}

.react-dropzone-accept {
  @apply border-green-500 bg-green-50;
}

.react-dropzone-reject {
  @apply border-red-500 bg-red-50;
}

@keyframes indeterminate-progress {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}

.animate-indeterminate-progress {
  animation: indeterminate-progress 2s infinite linear;
  width: 50%;
}